img {
	padding-top: 5px;
	max-width: 85%;
    height: auto;
	   border-radius: 15px;

}

.cards1 {
	width: 175px;
	height:	418px;
	background-color:#fa934c;

}

h2{
	padding-left: 2px;
	font-family: Ubuntu;
	text-align: left;
	font-size: 9px; 
	text-shadow: .5px .5px 2px blue;
	font-weight: bold;
	
}

br1{
	font-family: Ubuntu;
	text-align: left;
	font-size: 9px; 
	text-shadow: .5px .5px 2px blue;
	
}

