
br{
	
	
}

h1
{
	font-size: 20px;
}

.Forms {
	color:#ffffff;
	background-color:#fa934c;
	width:300px;
	text-align: center;
	margin: auto;
}

body {
	
  margin: 1;
  padding: 1;
  font-family: Ubuntu;
}